<div class="bg-slate-800 shadow max-w-lg my-5 mx-auto flex flex-col rounded-md overflow-hidden shadow-lg shadow-black">
    <h1 class="p-6 text-center text-sky-600 font-bold text-xl" >Create New Article</h1>

    <form class="p-4 bg-slate-700" action="/articles" accept-charset="UTF-8" method="post">

        <div class="my-1 flex flex-col p-2">
            <label for="article_title">Title</label>
            <input class="p-2 outline-none bg-slate-800" type="text" name="title" value="<%= params[:title] %>" id="article_title">
            <% @article.errors.full_messages_for(:title).each do |message| %>
                <div class="text-red-600 text-[15px] bg-slate-900 px-2 font-bold"><%= message %></div>
            <% end %>
        </div>

        <div class="my-1 flex flex-col p-2">
            <label class="" for="article_body">Body</label>
            <textarea class="outline-none bg-slate-800 p-2 mt-0" rows="4" name="body" id="article_body"></textarea>
            <% @article.errors.full_messages_for(:body).each do |message| %>
                <div class="text-red-600 text-[15px] bg-slate-900 px-2 font-bold"><%= message %></div>
            <% end %>
        </div>

        <div class="my-1 flex flex-col p-2">
            <label class="bg-slate-900 w-max py-3 px-5 rounded-md" for="article_posters">Add Posters</label>
            <input class="p-2 outline-none bg-slate-800 hidden" type="file" name="images" id="article_posters">
        </div>

        <div class="flex justify-end mt-4">
            <input class="bg-sky-600 py-1 px-4 rounded-md hover:ring-2 hover:ring-sky-600 hover:bg-slate-700" type="submit" value="Create Article" data-disable-with="Create Article">
        </div>
    </form>
</div>